/* HEADER */
header {
    width: 100%;
    background-color: rgb(202, 202, 202);
    display: flex;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    margin: 0;
    list-style-type: none;
}
li {
    float: left;
    padding: 10px;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
}
li:hover {
    background-color: rgb(255, 255, 255);
}
header .login {
    padding: 10px 40px;
    background-color: rgb(124, 54, 54);
}