.formLogin {
    position: relative;
    margin: auto;
    background-color: grey;
    padding: 20px;
    width: 400px;
    border-radius: 20px;
}
.formLogin h1 {
    margin: 0;
    text-align: center;
}