.row {
    display: flex;
}

.button {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    color: white;
}

.button.button-green {
    background-color: green;
}

.button.button-red {
    background-color: red;
}

.button.button-blue {
    background-color: blue;
}

.button.button-fluid {
    width: 100%;
}