<link rel="stylesheet" href="src/css/style.css">
<link rel="stylesheet" href="src/css/header.css">

<header>
    <div class="logo">
        <a href="index.html">
            <img src="src/img/capi.png" alt="Logo">
        </a>
    </div>
    <div class="menu">
        <ul>
            <li><a href="panel.html">Home</a></li>
            <li><a href="products.html">Produtos</a></li>
            <li><a href="customers.html">Clientes</a></li>
            <li><a href="about.html">Sobre</a></li>
        </ul>
    </div>
    <a href="login.html">Sair</a>
</header>